* {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.notification {
  border: 2px, black, solid;
}

.logout {
  padding: 5px 8px;
  background-color: cornflowerblue;
  color: whitesmoke;
  border: none;
  border-radius: 3px;
}
