* {
  background-color: #f0f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin-bottom: 100px;
}

.notification {
  border: 2px, black, solid;
}

.btn {
  margin: 10px;
  padding: 5px 8px;
  background-color: cornflowerblue;
  color: whitesmoke;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}

.btn:hover {
  background-color: rgb(64, 116, 211);
  cursor: pointer;
}

.blog {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  max-width: 800px;
  display: block;
}

.extraInfo {
  padding: 1px 5px;
  background-color: white;
}
